<html ng-app='myApp'>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"/></script>
    <script type='text/javascript'>
      var myAppModule = angular.module('myApp', []);
      // the .controller() method adds a controller to the module
      myAppModule.controller('studentsController', function ($scope){
          $scope.students = [
            {name: 'Mike', age: 34}, 
            {name: 'John', age: 24}, 
            {name: 'Trey', age: 24}, 
            {name: 'India', age: 35}];
      
            $scope.addStudent = function (){
		    
		    $scope.students.push($scope.newStudent); // add to the array
		    
		    $scope.newStudent = {};// clear the form values
		}

      });
    </script>
    </head>
    <body>
<div ng-controller='studentsController'>
        	<ul>
        		<li ng-repeat='person in students'>{{ person.name}}, {{person.age}}</li>
        	</ul>


        	<h3>Add a new student!</h3>
<form>
    Name: <input type='text' ng-model='newStudent.name'>
    Age: <input type='text' ng-model='newStudent.age'>
    <input type='submit' value='add new student' ng-click='addStudent()'>
</form>
        </div>
    </body>
</html>